logs
tests/database/__pycache__
turinium/config/__pycache__
turinium/database/__pycache__
turinium/email/__pycache__
turinium/logging/__pycache__
turinium/__pycache__
turinium.egg-info
*.whl
turinium-0.1.0.tar.gz
turinium/datasources/__pycache__/
.pypirc
dist/
.idea/
tests/app_config/__pycache__/
tests/app_config/fixtures/__pycache__/__init__.cpython-313.pyc
tests/app_config/fixtures/domain/__pycache__/__init__.cpython-313.pyc
tests/app_config/fixtures/domain/__pycache__/sample_classes.cpython-313.pyc
